<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>    
		<rewrite>  
			<rules>  
				<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
					<match url="iisnode"/>  
				</rule>  
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
					<match url="^debug[\/]?" />  
				</rule>  
				<rule name="App">  
					<action type="Rewrite" url="app.js"/>  
				</rule>  
			</rules>  
		</rewrite>  
	</system.webServer>
</configuration>
